<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<h1>Giriş Sayfası</h1>
<br>
<form action="dologin" method="post">

    <label th:text = "${emaillbl}"  ></label>
    <input name = "txtEmail"/><br>
    <label th:text= "${passwordlbl}"></label>
    <input name = "txtPassword"/>
    <br><br>
    <button type ="submit">Giriş</button>
</form>
<br><br><br>

</body>
</html>